@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body *{
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url(../../asset/font/GoogleSans-Bold.otf);
}
@font-face {
    font-family: GoogleSans-Medium;
    src: url(../../asset/font/GoogleSans-Medium.otf);
}
@font-face {
    font-family: GoogleSans-Regular;
    src: url(../../asset/font/GoogleSans-Regular.otf);
}

.container {
    width: 100%;
    /* height: 100vh; */
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.col-lg-8{
    width: 90%;
}